{
  "GROUP": {
    "legend": {
      "background": "#FFD700",
      "text": "#000000"
    },
    "students": [
      {
        "lat": 0.0,
        "lng": 0.0,
        "name": "Bob Bobson",
        "display_name": "Bob",
        "description": [
          "Bob lives here"
        ]
      }
    ]
  }
}
